<div class="container leaders-form">
  <%= simple_form_for(@leader) do |f| %>
    <%= f.error_notification %>
    <%= f.hidden_field :company_id, value: @company.id  %>

    <div class="leader-form-inputs">
      <%= f.input :name, input_html: {name: 'name[]'} %>
      <%= f.input :url, input_html: {name: 'url[]'}, label: 'LinkedIn URL' %>
    </div>
    <div class="btn add-new-leader-button">Add Row</div>

    <%= f.button :submit %>
  <% end %>
</div>
