<div class="container new-company-forms">

  <div class="form-column">
    <div class="">
       
      <div class="formbackground">
        <ul class="nav nav-tabs navdesign" id="myTab">
          <li class="active"><a href="#sectionA">ADD A COMPANY</a></li>
          <li><a href="#sectionB">EMAIL TO SOMEONE</a></li>
        </ul>
        <div class="tab-content padding_tab">
          <div id="sectionA" class="tab-pane fade in active">
            <%= simple_form_for(@company) do |f| %>
              <%= f.error_notification %>
              <div class="form-group form-label col-lg-12 col-md-12">
                <h4 class="new-company-header">Company Information</h4>
              </div>
              <%= f.input :name, label: 'Company', placeholder: 'Company Name' %>
              <%= f.input :url, label: 'Company Website', placeholder: 'http://www.veterancompanyurl.com' %>
              <%= f.input :employees_count, label: '# of Employees', placeholder: 'Ex: 10' %>
              <%= f.input :total_funding, hint: 'Number in thousands of dollars', placeholder: 'Ex: 4000 for $4 million' %>
              <%= f.input :stage %>
              <%= f.input :year_founded, start_year: Date.today.year - 15,
                                         end_year: Date.today.year,
                                         discard_hour: true, 
                                         discard_day: true, 
                                         discard_month: true %>
              <div class="form-group form-label col-lg-12 col-md-12">
                <h4 class="new-company-header last-company-header">Veteran-Led Startup Qualification</h4>
              </div>
              <%= f.input :total_founders, placeholder: 'Number of Company Founders' %>
              <%= f.input :veteran_founders, placeholder: 'Number of Veteran Founders' %>
              <%= f.input :veteran_executives, as: :radio_buttons, label: 'Veteran Executives?', hint: 'Do Veterans hold executive leadership positions? Including: CEO, CTO, CFO, CXO, VP of Engineering, VP of Operations, or similar position?' %>
              <div class="form-group clearfix">
                <%= f.button :submit, class: "button-blue submit-button" %>
              </div>
            <% end %> 
          </div>


          <!-- Email form -->
          <div id="sectionB" class="tab-pane fade">
            <form class='email-form-inputs'>
              <div class="form-group input-group-lg string optional person_name">
                <div class="form-label col-lg-3 col-md-3"><label class="string optional" for="person_name">Ask this person</label></div>
                <div class="form-input col-lg-9 col-md-9"><input class="string optional form-control" type="text" name="name" id="person_name" placeholder="Name"></div>
              </div>
              <div class="form-group string optional person_email">
                <div class="form-label col-lg-3 col-md-3"><label class="string optional" for="person_email">Email</label></div>
                <div class="form-input col-lg-9 col-md-9"><input class="string optional form-control" type="text" name="email" id="person_email" placeholder="veteran.leader@veterancompany.com"></div>
              </div>
              <div class="form-group string optional company_name">
                <div class="form-label col-lg-3 col-md-3"><label class="string optional" for="company_name">Which Company?</label></div>
                <div class="form-input col-lg-9 col-md-9"><input class="string optional form-control" type="text" name="email" id="company_name" placeholder="Company name"></div>
              </div>
              <div class="form-group string optional your_name">
                <div class="form-label col-lg-3 col-md-3"><label class="string optional" for="your_name">Your Name</label></div>
                <div class="form-input col-lg-9 col-md-9"><input class="string optional form-control" type="text" name="name" id="your_name" placeholder="Name"></div>
              </div>
              <div class="form-group string optional your_email">
                <div class="form-label col-lg-3 col-md-3"><label class="string optional" for="your_email">Your Email</label></div>
                <div class="form-input col-lg-9 col-md-9"><input class="string optional form-control" type="text" name="email" id="your_email" placeholder="veteran.supporter@example.com"></div>
              </div>
              <div class="form-group clearfix">
                <input type="submit" value="Send Email" class="button-blue submit-button">
              </div>
            </form>

          </div>

        </div>
      </div>
    </div>
  
  </div>
</div>

