<div class="container new-company-form">
  <%= simple_form_for(@company) do |f| %>
    <%= f.error_notification %>

    <%= f.input :name %>
    <%= f.input :url, label: 'Website' %>
    <%= f.input :employees_count, label: '# of Employees' %>
    <%= f.input :total_funding, hint: 'Number in thousands of dollars' %>
    <%= f.input :stage %>
    <%= f.input :year_founded, start_year: Date.today.year - 15,
                               end_year: Date.today.year,
                               discard_hour: true, 
                               discard_day: true, 
                               discard_month: true %>
    <%= f.input :total_founders %>
    <%= f.input :veteran_founders %>
    <%= f.input :veteran_executives %>

    <%= f.button :submit %>

  <% end %>
  
  <h4>OR</h4>

  <p>Email this link to someone else</p>

  <input id="email-link"></input>
  <button>Send</button>

</div>
