<nav class="main-nav">
  <a href="/mission" class="main-nav-btn">Mission</a>
  <a href="/companies" class="main-nav-btn main-nav-btn-active">List</a>
  <a href="/research" class="main-nav-btn">Research</a>
  <%- if @company.present? %>
    <div><a href="/companies" class="returntolist"><i class="fa fa-arrow-left"></i> <u>Return to List</u></a></div>
  <%- end %>
</nav>
<div class='container'>
  <h1 class='company-header sublistheading'><%= @company.name %></h2>

  <table class="table-striped">

    <tbody>
      <tr>
        <td><div class="listsubheading company-attribute"> Website:</div></td>
        <td><div class="listsubheadingopp"><%= link_to @company.name, @company.url %></div></td>
      </tr>
      <tr>
        <td><div class="listsubheading company-attribute"> Employees:</div></td>
        <td><div class="listsubheadingopp"><%= @company.employees_count %></div></td>
      </tr>
      <tr>
        <td><div class="listsubheading company-attribute">Total Funding:</div></td>
        <td><div class="listsubheadingopp" ><%= @company.total_funding == 0 ? "Bootstrapped" : "#{@company.total_funding}k" %></div></td>
      </tr>
      <tr>
        <td><div class="listsubheading company-attribute">Stage:</div></td>
        <td><div class="listsubheadingopp"><%= @company.stage %></div></td>
      </tr>
      <tr>
        <td><div class="listsubheading company-attribute">Year Founded:</div></td>
        <td><div class="listsubheadingopp"><%= @company.year_founded.strftime("%Y") %></div></td>
      </tr>
      <tr>
        <td><div class="listsubheading company-attribute">Organization Affiliation</div></td>
        <td><div class="listsubheadingopp"><%= @company.organizations.map(&:name).to_sentence %></div></td>
      </tr>
      <tr>
        <td><div class="listsubheading company-attribute">Total Founders:</div></td>
        <td><div class="listsubheadingopp"><%= @company.total_founders %></div></td>
      </tr>
      <tr>
        <td><div class="listsubheading company-attribute">Veteran Founders:</div></td>
        <td><div class="listsubheadingopp"><%= @company.veteran_founders %></div></td>
      </tr>
      <tr>
        <td><div class="listsubheading company-attribute">Veteran Executives:</div></td>
        <td><div class="listsubheadingopp"><%= @company.veteran_executives %></div></td>
      </tr>
      
    </tbody>
  </table>

  <a class='return-link' href='<%= companies_url %>'>
    <i class='fa fa-arrow-left'> Return to Companies List</i>
  </a>

</div>
