<!DOCTYPE html>
<html>
  <head>
    <title><%= 'VetCo - Find all Veteran Companies in one place' %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <section class='main'>

      <%= render partial: 'layouts/header' %>

      <%= yield :full_bleed %>
      <%= yield %>

    </section>
  </body>
</html>
